@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap");

/* Universal Style and Slections */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Merriweather", serif;
}

/* Banner Section style start from here  */
.banner-container {
  max-width: 1320px;
  margin: 0 auto;
  min-height: 600px;
  margin-top: 20px;
  background-color: rgba(0, 0, 0, 0.5);
  background-image: url("../images/Banner\ Image.png");
  background-blend-mode: overlay;
}

.banner-container {
  display: flex;
  height: 600px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.banner-sub-title {
  color: rgb(255, 255, 255);
  font-family: Merriweather;
  font-size: 32px;
  font-weight: 400;
  line-height: 40px;
  letter-spacing: 0%;
  text-align: center;
}
.banner-title {
  color: rgb(255, 255, 255);
  font-family: Merriweather;
  font-size: 72px;
  font-weight: 900;
  line-height: 95px;
  letter-spacing: 0%;
  text-align: center;
}
